// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #fff;
$grey: #2C2C2D;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// colors pokemons categories
$bug: #A8B820;
$dark: #705848;
$dragon: #6F35FC;
$electric: #F8D030;
$fairy: #DDA0DD;
$fighting: #C22E28;
$fire: #EE5A24;
$flying: #A890F0;
$ghost: #735797;
$grass: #7AC74C;
$ground: #E2BF65;
$ice: #96D9D6;
$normal: #A8A878;
$poison: #A33EA1;
$psychic: #F95587;
$rock: #B8A038;
$steel: #B7B7CE;
$water: #6390F0;